body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#nav-manu{
    background: rgb(241, 91, 3);
}
.nav-manu {
    width: 1170px;
    margin: auto;
    display:flex;
}

.logo {
    width: 270px;
    color: white;
   font-size: 20px;
}

.page{
    width:900px;
}
.page ul{
    list-style: none;
    text-align: right;
    padding-top: 8px;
}
.page ul li{
    display: inline-block;
    padding: 5px;
    text-align: right;
}
.page ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
   
}
.page ul li a:hover{
    text-decoration: underline;
}

/*  */
.flex-contant{
    display: flex;
    padding-bottom: 30px;
}

.half-width{
    width: 50%;
    

}
.half-width h1{
    font-size: 65px;
    font-weight: 700;
    color: rgb(77, 75, 75);
   
}
.first-contant{
    margin: 9%;
}
.half-width h3{
    font-size: 20px;
    font-weight: 400;
    color: rgb(105, 105, 105);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 40px;
}
.half-width h1 span{
    color: rgb(245, 149, 94);
}
.half-width a{
    text-decoration: none;
    background-color: orange;
    padding: 25px 40px;
    background-image: linear-gradient(to right, orange, rgb(238, 70, 28));
    border-radius: 50px;
    color: white;
    font-weight: 700;
   font-size: 20px;
   font-weight: 400;
}
.half-width a:hover{
    background-image: linear-gradient(to right, rgb(238, 70, 28), orange);
}
/*  */

.section2{
    display: flex;
    background-image: url(images/male/shapes/7.png);
    padding-top: 45px;
    margin-bottom: 100px;
    
}
.image img{
    width: 40%;
    margin-left: 23%;
}
.about-me{
    width: 55%;
    margin-right: 10%;

}
.about-me h2{
    font-size: 40px;
    font-weight: 700;
    color: rgb(62, 63, 65);
}
.about-me p{
    font-size: 20px;
    color: rgb(129, 129, 129);
}
/*  */

.recipie{
    width: 45%;
    margin: 0 auto;
    text-align: center;
}
.recipie h2{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: rgb(58, 57, 57);
}

.recipie p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgb(26, 25, 25);
}
.R-style{
    font-size: 60px;
    color: rgb(255, 169, 10);
}
/*  */
.item-list-width{
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
}
.box-shadow{
    box-shadow: 10px 10px 10px 10px  rgb(141, 141, 141);
    width: 27%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3%;
    border-radius: 35px;
    
}
.box-shadow img{
    width: 350px;
    
}
.box-content h2{
    font-size: 30px;
    font-weight: 800;
}
.box-content p{
    font-size: 25px;
    font-weight: 400;
    color: rgb(121, 121, 121);
}
    